{% extends "base.html" %}

{% block title %}Register - CampusCare{% endblock title %}

{% block body %}
<div class="container">
  <div class="card login-card">
    <h2 class="center">Create Account</h2>

    {% if created %}
      <div class="success-message">Account created successfully. You can now log in.</div>
    {% endif %}

    {% if error %}
      <div class="error-message">{{ error }}</div>
    {% endif %}

    <form method="POST" action="/register" style="display:grid;gap:12px;margin-top:14px">

      <!-- USER TYPE -->
      <div class="account-type">
          <input type="radio" id="student" name="role" value="student" checked>
          <label for="student">Student</label>

          <input type="radio" id="admin" name="role" value="admin">
          <label for="admin"><a href="{{ url_for('adminregister') }}">Admin</a></label>
      </div>

      <!-- NAME -->
      <div>
        <label>Name</label>
        <input name="name" class="input" placeholder="Full Name" required>
      </div>

      <!-- STUDENT CODE (ONLY FOR STUDENT) -->
      <div id="studentCodeDiv">
        <label>Student Code</label>
        <input type="text" name="student_code" class="input" placeholder="Enter your student code">
      </div>

      <!-- PHONE -->
      <div>
        <label>Phone Number</label>
        <input name="phone" class="input" placeholder="Phone Number" required>
      </div>

      <!-- EMAIL -->
      <div>
        <label>Email</label>
        <input name="email" type="email" class="input" placeholder="Email" required>
      </div>

      <!-- PASSWORD -->
      <div>
        <label>Password</label>
        <input name="password" type="password" class="input" placeholder="Password" required>
      </div>

      <!-- BUTTON -->
      <div class="login-meta">
        <div class="inline-links">
          Already have an account? <a href="{{ url_for('login') }}">Sign in</a>
        </div>

        <div style="display:flex;align-items:center;gap:12px">
          <button class="btn-sign" type="submit">Create Account</button>
        </div>
      </div>

    </form>
  </div>
</div>
<script>
  function toggleStudentCode() {
    let role = document.getElementById("category").value;
    let div = document.getElementById("studentCodeDiv");

    if (role === "Student") {
        div.style.display = "block";
    } else {
        div.style.display = "none";
    }
}
  // Initially hide student code field
  toggleStudentCode();
</script>
{% endblock body %}